<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Teacher</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" >
</head>
<body>
<div class="wrap">
<div class="wrapper">
<div class="logo">
	<a href="index.html"><h1>SCHOOL</h1></a>
</div>
<div class="header_right">
	<div class="cssmenu">
		<ul>
		  	<li class="active"><a th:href="@{/teacher/main}"><span>Course</span></a></li>
			<li><a th:href="@{/teacher/record}"><span>Record</span></a></li>
			<li><a th:href="@{/login}"><span>Exit</span></a></li>
			<div class="clear"></div>
		 </ul>
	</div>
</div>
	<div class="clear"></div>
</div>
</div>
	<div class="main_bg">
		<br><br>
		<div class="container">
			<div class="row">
				<div class="col-md-4" th:each="course,stats:${Courses}">
					<div class="card mb-4 box-shadow js-align-height">
						<img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_163cdb5ec6a%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_163cdb5ec6a%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
						<div class="card-body">
							<p class="card-text" style="font-size: 20px;">[[${course.grade}]] 年 [[${course.classes}]] 班</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a th:href="@{/teacher/Course/{cId}(cId=${course.CId})}"><button type="button" class="btn btn-sm btn-outline-secondary" style="margin-left: 5px">评&nbsp;&nbsp;&nbsp;&nbsp;价</button></a>
								</div>
								<p class="text-muted" th:text="${course.courseName}" style="font-size: 20px;margin: 0">[[${course.courseName}]]</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
<div class="wrap">
<div class="wrapper">
	<div class="footer">
		<div class="social-icons">
	   		  	<ul>
			      <li class="icon_1"><a href="#" target="_blank"> </a></li>
			      <li class="icon_2"><a href="#" target="_blank"> </a></li>
			      <li class="icon_3"><a href="#" target="_blank"> </a></li>
			      <li class="icon_4"><a href="#" target="_blank"> </a></li>
			      <div class="clear"></div>
		     </ul>
	   	 </div>
		<a href="index.html"><h2>SCHOOL</h2></a>
		<div class="copy">
			<p class="w3-link">Copyright &copy; 2014.Company name All rights reserved.</p>
		</div>
	</div>
</div>
<div class="clear"></div>
</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>